@charset "UTF-8";
/* CSS Document */

/*
DEMO 2
*/

.a_demo_two {
	background-color: #C12957;
	padding:10px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 2px 0px #156785;
	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 2px 0px #156785;
	-o-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 2px 0px #156785;
	box-shadow: inset 0px 1px 0px #7fd2f1, 0px 2px 0px #156785;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.a_demo_two::before {
	background-color: #C12957;
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:2px;
	left:-2px;
	top:5px;
	z-index:-1;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 1px 0px #fff;
	-moz-box-shadow: 0px 1px 0px #fff;
	-o-box-shadow: 0px 1px 0px #fff;
	box-shadow: 0px 1px 0px #fff;
}

.a_demo_two:active {
	color:#156785;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
	background:#C12957;
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	-o-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	top:7px;
}

.a_demo_two:active::before {
	top:-2px;
}